@tailwind base;
@tailwind components;
@tailwind utilities;

/* Media section styles */
.media_section {
  font-size: 1rem;
  max-width:100%;
  line-height: 120%;
  gap: 1rem;
  padding:20px; /* Hasty solution */
}

.media_section .h1 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 120%;
  margin-top: 1rem;
}

.media_section .h2 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 120%;
  margin-top: 0.875rem;
  margin-bottom: 0.625rem;
}

.media_section .h3 {
  font-size: 1 rem;
  font-weight: 600;
  line-height: 120%;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem; 
}

.media_section .paragraph {
  line-height: 1.9;
  margin-bottom: 1rem;
}

.media_section .ul {
  list-style-type: disc;
  /* margin-left: 1.5rem;
  margin-bottom: 1rem; */
}

.media_section .ol {
  list-style-type: decimal;
  /* margin-left: 1.5rem;
  margin-bottom: 1rem; */
}

 .media_section .li {
  margin-top: 0.5rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
 }

/* Table styles */
.media_section table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.media_section th,
.media_section td {
  border-bottom: 1px solid #e0e0e0;
  text-transform: capitalize;
  padding: 15px 15px;
  text-align: left;
  /* vertical-align: top; */
}

.media_section th {
  background-color:  var(--ev-colors-tertiaryText);
  letter-spacing: 1px;
}

.media_section tr:hover {
  background-color:  var(--ev-colors-secondary);
  transition: background-color 0.3s ease;
}

.media_section .wrap-text {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
  hyphens: auto;

}
.media_section td:first-child,
.media_section th:first-child {
  padding-left: 20px;
}

.media_section .number-column {
  text-align: right;
}