# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# next.js
.next/
out/
build
.swc/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# turbo
.turbo

# ui
dist/

middleware/deps
middleware/__pycache__
**/node_modules
**/deps
__pycache__/
*.py[cod]
.vscode
**/dist
**/storybook-static/
out
.idea
*.code-workspace

#ignore the db files that popped up in the server somehow
elevaite_db/*
logfile

# pytest coverage
.coverage 
htmlcov
/media_backend/static/images
**/tests/.env
airflow_venv
elevaite_backend/fastapi-logger/fastapi_logger.egg-info
elevaite_backend/fastapi-logger/elevaite_logger.egg-info
