markitdown
docling
llama-parse
Crawl4AI
pinecone
chromadb
qdrant-client
python-dotenv
langchain-core
langchain-openai
langchain
pdfplumber
langchain-community
pymupdf4llm
openai
fuzzywuzzy
colbert
cohere
opensearch-py