


.pdf-extraction-emphasis-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    margin: 0 10px;
    border: 1px solid var(--ev-colors-borderColor);
    border-radius: 8px;

    & .pdf-emphasis-block {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        & > div {
            flex-grow: 1;
        }
    }

    & .separator {
        flex-grow: 1;
        border-bottom: 1px solid var(--ev-colors-borderColor);
    }
}