.env
.env*

# temporarily allowing outputs from ETL pipeline as record of runs against prod
#/logs/*
#analysis/analysis_results.json
#analysis/failed_files_analysis.json
#failed_files_log.json
#processed_files_log.pkl


