

.chatbot-advanced-container {
    margin: -20px;    
    overflow: hidden;

    background-color: var(--ev-colors-backgroundHighContrast);
    color: var(--ev-colors-text);

    display: grid;
    grid-template-areas:
        "sidebar main";
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr;
    

    & .sidebar-area {
        grid-area: sidebar;
    }

    & .tabs-area {
        grid-area: tabs;
    }
}