// AgentConfigForm.scss
@import 'variables';

.agent-config-form {
  display: flex;
  position: relative;
  height: calc(100vh - 111px); //52+59
  width: 100%;
  overflow: hidden;
  padding: 16px;

  // Loading state
  &.loading {
    display: flex;
    align-items: center;
    justify-content: center;

    .loading-message {
      font-size: 1rem;
      color: $gray-600;
    }
  }

  // Main content area
  .designer-content {
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  // Configuration panel container
  .config-panel-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 320px;
    height: 100%;
    background-color: white;
    //border-left: 1px solid $gray-200;
    overflow-y: auto;
    z-index: 10;
    //box-shadow: $shadow-md;
	border: 1px solid #E2E8ED;
	border-radius: 16px;
	@include scrollbar(#71717366, #71717326);

	&.editing {
		display: flex;
		width: 840px;

		.config-panel {
			display: flex;
			width: 100%;
		}

	}

	&.shrinked {
		width: 40px;

		.config-panel {
			padding: 16px 0;
		}

		.agent-name-display,
		.close-button,
		.activate-fields,
		.config-panel-header ~ *,
		.config-panel-header > .pr-3,
		.left,
		.right button:not(.btn-toggle) {
			display: none;
		}

		.right {
			width: 100%;
		}

		.config-panel-header {
			justify-content: center;
		}
	}

	.icon-container {
		width: 56px;
		height: 56px;
		border-radius: 6px;
		border: 1px solid #e5e7eb;
		background-color: #f9fafb;
		display: grid;
		place-items: center;;
	}
  }

  // Chat content area
  .chat-content {
    flex: 1;
    position: relative;
    height: 100%;
    overflow: hidden;
  }

  // Element with drag effect
  .dragging {
    opacity: 0.5;
    transform: scale(0.95);
  }
}

// Transitions
.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}

// Responsive styles
@media (max-width: 768px) {
  .agent-config-form {
    flex-direction: column;

    .config-panel-container {
      width: 100%;
      height: 50%;
      top: 50%;
      border-left: none;
      border-top: 1px solid $gray-200;
    }
  }
}

.badge {
	display: inline-block;
	padding: 4px 10px;
	font-size: 0.75rem;
	font-weight: 500;
	border-radius: 6px;
	background-color: #6C82711F; // gray-100
	color: #6C8271; // gray-600
}


.tabs {
	&-inner {
		background: #F1F4F8;
		border: 1px solid #E6EBF0;
		border-radius: 6px;
	}
}