.agent-testing-panel {
	width: 50%;
	top: 16px;
	right: 16px;
	height: calc(100vh - 143px);
	overflow: hidden;
	border: 1px solid #E2E8ED;

	&.is-expanded {
		width: calc(100% - 32px);
	}

	.chat-scroll {
		display: flex;
  		flex-direction: column;
		@include scrollbar();

		.chat-contents {
			flex-grow: 1;
		}
	}

	.chat-bubble {
		& + .chat-bubble {
			margin-top: 10px;
		}
	}


	.send-button {
		color: var(--ev-colors-highlight);

		&.loading {
			color: var(--ev-colors-primary);

			& > svg {
				height: 25px;
				width: 25px;
			}
		}
	}

	.user-time {
		text-align: end;
	}

	.top {
		@include scrollbar(#71717366, #71717326);
	}

	.bottom {
		input {
			padding: 0 75px 0 24px;

			&::placeholder {
				font-size: 14px;
				color: rgba(0, 0, 0, 0.5);
			}
		}
	}



	.chatbot-input-container {
		padding: 1.5rem;
		border: 1px solid var(--ev-colors-borderColor);
		border-radius: 6px;
		background-color: var(--ev-colors-primary);

		&.is-loading {
			opacity: 0.6;
			pointer-events: none;
		}

		.chatbot-input-contents {
			display: flex;
			align-items: center;
			gap: 1rem;
			padding: 0 0.5rem 0 1rem;
  			border: 1px solid var(--ev-colors-uiBorder);
			border-radius: 8px;
			background-color: var(--ev-colors-background);

			&:focus-within {
				outline: none;
				border-color: var(--ev-colors-highlight);
			}
		}

		.chatbot-input-field {
    		flex: 1 1 auto;
			min-width: 0;
			min-height: 48px;
			border-radius: 8px;
			font-size: 14px;
			line-height: 1.4;
			color: var(--ev-colors-text);
			
			&::placeholder {
				color: var(--ev-colors-uiTextSecondary);
			}

			&:focus {
				outline: none;
				box-shadow: none;
			}

			&:disabled {
				background: var(--ev-colors-uiSecondary);
				color: var(--ev-colors-uiTextSecondary);
				cursor: not-allowed;
			}

			  &.chatbot-input-textarea {
				height: auto;
				border: 0;
				resize: none;
				padding: 0.8rem 0;
				background: transparent;
				overflow: hidden;
				@include scrollbar();
			}
		}

		.chatbot-input-actions {
    		display: flex;
    		align-items: center;
			gap: 0.5rem;
		}


		.chatbot-input-upload-button {
			padding: 0.5rem;
			border-radius: 8px;

			&:hover:not(:disabled) {
				background-color: var(--ev-colors-uiHover);
			}

			&:disabled {
				background: var(--ev-colors-uiSecondary);
				color: var(--ev-colors-uiTextSecondary);
				cursor: not-allowed;

				svg {
					color: var(--ev-colors-uiTextSecondary);
				}
			}

			svg {
				width: 16px;
				height: 16px;
				color: var(--ev-colors-highlight);
			}
		}

		.chatbot-input-send-button {
			padding: 0.5rem 1rem;
			border-radius: 8px;

			&.is-disabled {
				background: var(--ev-colors-uiSecondary);
				color: var(--ev-colors-uiTextSecondary);
				cursor: not-allowed;

				& svg {
					color: var(--ev-colors-uiTextSecondary);
				}
			}
			&:not(.is-disabled) {
				background-color: var(--ev-colors-background);
				color: var(--ev-colors-uiPrimary);

				&:hover {
					background-color: var(--ev-colors-uiHover);
				}
			}

			svg {
    			color: var(--ev-colors-highlight);
				width: 20px;
				height: 20px;
			}
		}
	}


	
}


.tag-blue {
	display: inline-block;
	font-size: 12px;
	border-radius: 4px;
	color: #0950C3;
	padding: 1px 6px;
	background: #EBF2FE;
}







