__pycache__
*.pyc
*.pyo
*.pyd
*.db
*.sqlite*
*.log
*.tmp
*.cache
.pytest_cache
.coverage
htmlcov
.idea
.vscode
.env
uploads/
workflow_engine_poc/tests/
workflow_engine_poc/debug/
workflow_engine_poc/docs/
workflow_engine.db

