/* @import "../ui/globals.css";

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 22, 22, 22;
  --background-end-rgb: 22, 22, 22;
  color: white;
}

body {
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
} */
