@import url("https://fonts.googleapis.com/css?family=Inter&display=swap");
.card {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
  background: #282828;
  display: flex;
  padding: 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  width: 264px;
  height: 130px;
}

.cardHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.cardHeaderText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.cardTitle {
  color: #fff;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28px; /* 175% */
}

.cardSubtitle {
  color: #fff;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.cardIcon {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 3.75px;
  justify-content: center;
  align-items: center;
}

.cardDescription {
  align-self: stretch;
  color: #fff;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 160%; /* 22.4px */
  opacity: 0.72;
}
