


.tab-panel-contents {
  padding: 32px;
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(350px, 1fr) );
  gap: 32px;
}





.react-tabs {
  -webkit-tap-highlight-color: transparent;
  
  background: url("/images/background-application-dark.png");
  background-position: right -50px bottom -200px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 700px auto;
  min-height: 100%;
}

.react-tabs__tab-list {
  border-bottom: 1px solid rgba(255, 255, 255, 0.12);
  margin: 0px 32px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: sticky;
  top: var(--navbar-height);
  /* vertical-align: middle; */
  background: var(--ev-colors-background);
  // width: 100%;
  z-index: 100;
}

.react-tabs__tab {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 24px;
  cursor: pointer;
  color: var(--ev-colors-text);
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  height: 64px;
}

.react-tabs__tab:hover {
  background: var(--ev-colors-secondary);
}

.react-tabs__tab--selected {
  border-bottom: 2px solid var(--ev-colors-highlight);
  color: var(--ev-colors-highlight);
  opacity: 1;
}

.react-tabs__tab--disabled {
  color: var(--ev-colors-secondaryText);
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
  position: relative;
  // top: 64px;
  /* z-index: -100; */
}
